.Results_div {
        background-image: linear-gradient(rgba(0,0,0,0.32), rgba(0,0,0,0.32)), url("./background.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding-bottom: 7%;
}

.Table_div {
        background-image: linear-gradient(rgba(0,0,0,0.27), rgba(0,0,0,0.27)), url("./background_table.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding-bottom: 2%;
}

.App {
        background-color: black;
}